.grid {
  &__parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
  }
  &__child {
    border: 1px solid rgb(203, 203, 203);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
}